html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  height: 100vh;
}
header nav {
  padding: 15px 25px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
header nav .logo-container img {
  height: 25px;
}
header nav .logo-container p {
  color: white;
  font-family: "Croissant One", cursive;
}
header nav i {
  color: #ffffff;
  cursor: pointer;
}
header .hero-section {
  position: relative;
  height: calc(100vh - 68px);
}
header .hero-section .title-container {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3137254902), rgba(0, 0, 0, 0.5647058824));
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 50px;
}
header .hero-section .title-container h1 {
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 70px;
  width: 50%;
  text-align: right;
}
header .hero-section .title-container h1::first-letter {
  font-size: 90px;
}
header .hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .agency-section {
  padding: 30px;
  display: flex;
}
main .agency-section .agency-title-container {
  width: 40%;
  display: flex;
  align-items: center;
}
main .agency-section .agency-title-container .agency-title {
  font-family: "Croissant One", cursive;
  font-size: 50px;
  color: #060606;
  padding: 50px;
  margin: 0;
}
main .agency-section .agency-content-container {
  width: 60%;
}
main .agency-section .agency-content-container .agency-content {
  padding: 20px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  color: #060606;
}
main .destinations-section {
  display: flex;
  height: 500px;
  background-color: #060606;
  color: white;
}
main .destinations-section .destinations-title-container {
  width: 40%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
main .destinations-section .destinations-title-container .destinations-title {
  font-family: "Croissant One", cursive;
  font-size: 50px;
  margin: 0;
}
main .destinations-section .destinations-title-container .destinations-sub {
  font-size: 20px;
  font-family: "Source Sans 3", sans-serif;
}
main .destinations-section .destinations-images-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
main .destinations-section .destinations-images-container .destinations-image-container {
  width: 50%;
  height: 50%;
  overflow: hidden;
}
main .destinations-section .destinations-images-container .destinations-image-container:hover > img {
  transform: scale(1.05);
}
main .destinations-section .destinations-images-container .destinations-image-container img {
  transition-duration: 0.4s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .team-section {
  padding: 30px 0;
}
main .team-section table {
  width: 100%;
}
main .team-section table colgroup col {
  width: 50%;
}
main .team-section table .team-header {
  font-family: "Croissant One", cursive;
  font-size: 50px;
}
main .team-section table .category-name {
  font-family: "Croissant One", cursive;
  font-size: xx-large;
  text-align: right;
}
main .team-section table .separator {
  position: relative;
  height: 50px;
}
main .team-section table .separator td::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  height: 1px;
  background-color: #060606;
}
main .team-section table .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .team-section table .profile img {
  width: 100px;
  border-radius: 50%;
}
main .addresses-section {
  display: block;
  background-color: #a5a5a5;
}
main .addresses-section .carousel {
  position: relative;
  overflow: hidden;
}
main .addresses-section .carousel #carousel-items {
  height: 100% x;
  width: 100%;
  display: flex;
  transition-duration: 0.4s;
}
main .addresses-section .carousel #carousel-items .carousel-item {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
main .addresses-section .carousel #carousel-items .carousel-item .carousel-item-data {
  width: 50%;
  height: 100%;
}
main .addresses-section .carousel #carousel-items .carousel-item .carousel-item-data.carousel-item-infos {
  padding: 15px;
}
main .addresses-section .carousel #carousel-items .carousel-item .carousel-item-data.carousel-item-infos h3 {
  font-family: "Croissant One", cursive;
}
main .addresses-section .carousel #carousel-items .carousel-item .carousel-item-data.carousel-item-infos ul li {
  font-family: "Source Sans 3", sans-serif;
}
main .addresses-section .carousel #carousel-items .carousel-item .carousel-item-data.carousel-item-map iframe {
  width: 100%;
  height: 100%;
}
main .addresses-section .carousel .carousel-overlay {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
main .addresses-section .carousel .carousel-overlay .carousel-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
main .addresses-section .carousel .carousel-overlay .carousel-button i {
  font-size: 30px;
}
main .addresses-section .carousel .carousel-overlay .carousel-button:disabled {
  opacity: 0.5;
  cursor: initial;
}

footer {
  background-color: #060606;
  color: white;
  padding: 15px;
}
footer .icons {
  font-size: 40px;
}
footer .icons i {
  color: white;
}

@media (max-width: 768px) {
  header .hero-section .title-container {
    padding: 20px;
  }
  header .hero-section .title-container h1 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  header .hero-section .title-container h1::first-letter {
    font-size: 40px;
  }
  main .agency-section .agency-title-container .agency-title {
    text-align: right;
    font-size: 30px;
    padding: 20px;
  }
  main .agency-section .agency-content-container .agency-content {
    padding: 20px;
    font-size: 15px;
  }
  main .destinations-section {
    flex-direction: column-reverse;
    height: auto;
  }
  main .destinations-section .destinations-images-container,
  main .destinations-section .destinations-title-container {
    width: 100%;
  }
  main .destinations-section .destinations-images-container .destinations-image-container {
    height: 200px;
  }
}/*# sourceMappingURL=main.css.map */